* {
  box-sizing: border-box;
  border:solid 1px #007bff;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: white;
  display: flex; /* Utilisation de Flexbox */
  align-items: center; /* Alignement vertical des éléments */
  justify-content: flex-start;
  padding: 1em;
}
header > img {
  height: 100px;
  width: 150px;
  
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;  
}
nav > ul > li {
  margin: 0 15px;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
}
main {
  padding: 2em;
  text-align: center;
  background-image: url(/Images/A2-1920.jpg);
}
main > h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
main > h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}
main > a {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
main a:hover {
  background-color: #0056b3;
}