* {
    box-sizing: border-box;
   /* border:solid 1px #ffffff;*/
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(/Images/A2-1920.jpg);
  }
  /* Header */
  header {
    background-color: #ffffff;
    color: white;
    overflow: hidden; /* Pour contenir les éléments flottants */
  }
  
  /* Logo */
  header img {
    float: left;
    height: auto;
    width: 150px; /* Largeur spécifique */
    margin-right: 20px;
    background-color: #ffffff;margin-top: 15px;
  }
  
  /* Navigation */
  nav {
    background-color: #44A33D; /* Couleur de fond de la nav */
    float: left;
    /* Largeur totale moins la largeur du logo et la marge */
    width: calc(100% - 150px - 20px); 
    margin-top: 20px;
  }
  
  /* Liste */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; 
  }
  
  /* Éléments de la liste */
  nav ul li {
    display: inline-block; 
    border-right: 1px solid white;
    margin-right: 20px;
    
  }
  
  /* Supprime la bordure sur le dernier élément de la liste */
  nav ul li:last-child {
    border-right: none;
  }
  
  /* Liens */
  nav ul li a {
    display: block; 
    padding: 10px;  
    text-decoration: none; 
    color: white; 
    background-color: #87BB34;
  }
  /* Clearfix header */
  header::after {
    clear: both;
  }
  /*CSS pour la page d'accueil*/
  .My_container_main {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(189, 189, 189, 0.521); /* Gris avec opacité de 0.9 */
    padding: 5%;
    margin: 5% 30% 50% 5%;
    min-height: 50vh;
  }
  main > h1 {
    font-size: 2em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  main > h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 5%;
  }
  main > a {
    background-color:#8ec635;;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 5px;
  }
   a:hover {
    background-color:#5f8423;
  }
  
  /* CSS pour la page de formation */
  .colFormation {
    column-count: 2;
    column-gap: 20px;
  }
  
  /* Rubrique de formation */
  .rubriqueFormation {
    margin: 10px;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    break-inside: avoid;  /* Évite que les éléments soient divisés entre deux colonnes */
  }
  
  /* Titre de la rubrique */
  .rubriqueFormation-Titre {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Description de la rubrique */
  .rubriqueFormation-Description {
    font-size: 14px;
  }

  
  /* CSS pour la page de  témoignages */


  main .temoignages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Carte de témoignage */
  main .carte-temoignage {
    flex: 1;
    max-width: 30%; 
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Photo du témoin */
  main .carte-temoignage-photo img {
    max-width: 100%;
    height: auto;
  }
  
  /* Nom du témoin */
  main .carte-temoignage-nom {
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Fonction du témoin */
  main .carte-temoignage-fonction {
    font-style: italic;
    margin-top: 5px;
  }
  
  /* Entreprise du témoin */
  main .carte-temoignage-entreprise {
    margin-top: 5px;
  }
  
  /* Message du témoin */
  main .carte-temoignage-message {
    margin-top: 10px;
    text-align: justify;
  }
  
  
  /* CSS pour la page de  galerie */
  main .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  
  /* Images de la galerie */
  main .gallery img {
    max-width: 150px; 
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* CSS pour la page de contact */
  main h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* formulaire */
  main .gpFormulaire {
    margin-bottom: 20px;
  }
  
  /* Label */
  main label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Input et Textarea */
  main input[type="text"],
  main input[type="email"],
  main input[type="tel"],
  main textarea,
  main select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /*button Radio  */
  main input[type="radio"] {
    margin-right: 5px;
  }
  
  /* Bouton envoi */
  main .button input[type="submit"] {
    background-color: #44A33D;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  main .button input[type="submit"]:hover {
    background-color: #36a634;
  }